h2{
  text-align:center;   
  color:red;
}
#title{
  text-align:center;
  color: Green;
}
#subwrapper{
  text-align:center;
  color:green;
}
body{
    background-color:orange;
}
img{
    text-align:center;
    height: 300px;
    width: 500px;
}
